<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.mapper.YgfCityMapper">
  <resultMap id="BaseResultMap" type="com.sun.entity.YgfCity">
    <id column="city_id" jdbcType="BIGINT" property="cityId" />
    <result column="city_code" jdbcType="VARCHAR" property="cityCode" />
    <result column="province_id" jdbcType="BIGINT" property="provinceId" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
  </resultMap>
  <sql id="Base_Column_List">
    city_id, city_code, province_id, city_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ygf_city
    where city_id = #{cityId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ygf_city
    where city_id = #{cityId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sun.entity.YgfCity">
    insert into ygf_city (city_id, city_code, province_id, 
      city_name)
    values (#{cityId,jdbcType=BIGINT}, #{cityCode,jdbcType=VARCHAR}, #{provinceId,jdbcType=BIGINT}, 
      #{cityName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sun.entity.YgfCity">
    insert into ygf_city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        city_id,
      </if>
      <if test="cityCode != null">
        city_code,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="cityName != null">
        city_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cityId != null">
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="cityCode != null">
        #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="cityName != null">
        #{cityName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sun.entity.YgfCity">
    update ygf_city
    <set>
      <if test="cityCode != null">
        city_code = #{cityCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="cityName != null">
        city_name = #{cityName,jdbcType=VARCHAR},
      </if>
    </set>
    where city_id = #{cityId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sun.entity.YgfCity">
    update ygf_city
    set city_code = #{cityCode,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=BIGINT},
      city_name = #{cityName,jdbcType=VARCHAR}
    where city_id = #{cityId,jdbcType=BIGINT}
  </update>
</mapper>