<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yugyg.mapper.YgfDljSearchRecordMapper">
  <resultMap id="BaseResultMap" type="com.yugyg.entity.YgfDljSearchRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="ip" jdbcType="VARCHAR" property="ip" />
    <result column="browser" jdbcType="VARCHAR" property="browser" />
    <result column="equipment" jdbcType="VARCHAR" property="equipment" />
    <result column="searchShort" jdbcType="VARCHAR" property="searchshort" />
    <result column="ipBelong" jdbcType="VARCHAR" property="ipbelong" />
    <result column="resolution" jdbcType="VARCHAR" property="resolution" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="cookie" jdbcType="VARCHAR" property="cookie" />
    <result column="referer" jdbcType="VARCHAR" property="referer" />
    <result column="userAgent" jdbcType="VARCHAR" property="useragent" />
    <result column="phoneNum" jdbcType="VARCHAR" property="phonenum" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yugyg.entity.YgfDljSearchRecord">
    <result column="searchLong" jdbcType="LONGVARCHAR" property="searchlong" />
  </resultMap>
  <sql id="Base_Column_List">
    id, time, ip, browser, equipment, searchShort, ipBelong, resolution, status, cookie, 
    referer, userAgent, phoneNum
  </sql>
  <sql id="Blob_Column_List">
    searchLong
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ygf_dlj_search_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ygf_dlj_search_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yugyg.entity.YgfDljSearchRecord">
    insert into ygf_dlj_search_record (id, time, ip, 
      browser, equipment, searchShort, 
      ipBelong, resolution, status, 
      cookie, referer, userAgent, 
      phoneNum, searchLong)
    values (#{id,jdbcType=BIGINT}, #{time,jdbcType=TIMESTAMP}, #{ip,jdbcType=VARCHAR}, 
      #{browser,jdbcType=VARCHAR}, #{equipment,jdbcType=VARCHAR}, #{searchshort,jdbcType=VARCHAR}, 
      #{ipbelong,jdbcType=VARCHAR}, #{resolution,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{cookie,jdbcType=VARCHAR}, #{referer,jdbcType=VARCHAR}, #{useragent,jdbcType=VARCHAR}, 
      #{phonenum,jdbcType=VARCHAR}, #{searchlong,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yugyg.entity.YgfDljSearchRecord">
    insert into ygf_dlj_search_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="ip != null">
        ip,
      </if>
      <if test="browser != null">
        browser,
      </if>
      <if test="equipment != null">
        equipment,
      </if>
      <if test="searchshort != null">
        searchShort,
      </if>
      <if test="ipbelong != null">
        ipBelong,
      </if>
      <if test="resolution != null">
        resolution,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="cookie != null">
        cookie,
      </if>
      <if test="referer != null">
        referer,
      </if>
      <if test="useragent != null">
        userAgent,
      </if>
      <if test="phonenum != null">
        phoneNum,
      </if>
      <if test="searchlong != null">
        searchLong,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="browser != null">
        #{browser,jdbcType=VARCHAR},
      </if>
      <if test="equipment != null">
        #{equipment,jdbcType=VARCHAR},
      </if>
      <if test="searchshort != null">
        #{searchshort,jdbcType=VARCHAR},
      </if>
      <if test="ipbelong != null">
        #{ipbelong,jdbcType=VARCHAR},
      </if>
      <if test="resolution != null">
        #{resolution,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="cookie != null">
        #{cookie,jdbcType=VARCHAR},
      </if>
      <if test="referer != null">
        #{referer,jdbcType=VARCHAR},
      </if>
      <if test="useragent != null">
        #{useragent,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null">
        #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="searchlong != null">
        #{searchlong,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yugyg.entity.YgfDljSearchRecord">
    update ygf_dlj_search_record
    <set>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="ip != null">
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="browser != null">
        browser = #{browser,jdbcType=VARCHAR},
      </if>
      <if test="equipment != null">
        equipment = #{equipment,jdbcType=VARCHAR},
      </if>
      <if test="searchshort != null">
        searchShort = #{searchshort,jdbcType=VARCHAR},
      </if>
      <if test="ipbelong != null">
        ipBelong = #{ipbelong,jdbcType=VARCHAR},
      </if>
      <if test="resolution != null">
        resolution = #{resolution,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="cookie != null">
        cookie = #{cookie,jdbcType=VARCHAR},
      </if>
      <if test="referer != null">
        referer = #{referer,jdbcType=VARCHAR},
      </if>
      <if test="useragent != null">
        userAgent = #{useragent,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null">
        phoneNum = #{phonenum,jdbcType=VARCHAR},
      </if>
      <if test="searchlong != null">
        searchLong = #{searchlong,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yugyg.entity.YgfDljSearchRecord">
    update ygf_dlj_search_record
    set time = #{time,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR},
      equipment = #{equipment,jdbcType=VARCHAR},
      searchShort = #{searchshort,jdbcType=VARCHAR},
      ipBelong = #{ipbelong,jdbcType=VARCHAR},
      resolution = #{resolution,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      cookie = #{cookie,jdbcType=VARCHAR},
      referer = #{referer,jdbcType=VARCHAR},
      userAgent = #{useragent,jdbcType=VARCHAR},
      phoneNum = #{phonenum,jdbcType=VARCHAR},
      searchLong = #{searchlong,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yugyg.entity.YgfDljSearchRecord">
    update ygf_dlj_search_record
    set time = #{time,jdbcType=TIMESTAMP},
      ip = #{ip,jdbcType=VARCHAR},
      browser = #{browser,jdbcType=VARCHAR},
      equipment = #{equipment,jdbcType=VARCHAR},
      searchShort = #{searchshort,jdbcType=VARCHAR},
      ipBelong = #{ipbelong,jdbcType=VARCHAR},
      resolution = #{resolution,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      cookie = #{cookie,jdbcType=VARCHAR},
      referer = #{referer,jdbcType=VARCHAR},
      userAgent = #{useragent,jdbcType=VARCHAR},
      phoneNum = #{phonenum,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>