<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yugyg.mapper.YgfHoursMapper">
  <resultMap id="BaseResultMap" type="com.yugyg.entity.YgfHours">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="hours" jdbcType="TINYINT" property="hours" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hours
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ygf_hours
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ygf_hours
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yugyg.entity.YgfHours">
    insert into ygf_hours (id, hours)
    values (#{id,jdbcType=BIGINT}, #{hours,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.yugyg.entity.YgfHours">
    insert into ygf_hours
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hours != null">
        hours,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hours != null">
        #{hours,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yugyg.entity.YgfHours">
    update ygf_hours
    <set>
      <if test="hours != null">
        hours = #{hours,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yugyg.entity.YgfHours">
    update ygf_hours
    set hours = #{hours,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>