<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yugyg.mapper.YgfLongShortLinkMapper">
  <resultMap id="BaseResultMap" type="com.yugyg.entity.YgfLongShortLink">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shortLink" jdbcType="VARCHAR" property="shortlink" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="urlDesc" jdbcType="VARCHAR" property="urldesc" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.yugyg.entity.YgfLongShortLink">
    <result column="longLink" jdbcType="LONGVARCHAR" property="longlink" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shortLink, time, urlDesc
  </sql>
  <sql id="Blob_Column_List">
    longLink
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ygf_long_short_link
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ygf_long_short_link
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yugyg.entity.YgfLongShortLink">
    insert into ygf_long_short_link (id, shortLink, time, 
      urlDesc, longLink)
    values (#{id,jdbcType=BIGINT}, #{shortlink,jdbcType=VARCHAR}, #{time,jdbcType=TIMESTAMP}, 
      #{urldesc,jdbcType=VARCHAR}, #{longlink,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yugyg.entity.YgfLongShortLink">
    insert into ygf_long_short_link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shortlink != null">
        shortLink,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="urldesc != null">
        urlDesc,
      </if>
      <if test="longlink != null">
        longLink,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shortlink != null">
        #{shortlink,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="urldesc != null">
        #{urldesc,jdbcType=VARCHAR},
      </if>
      <if test="longlink != null">
        #{longlink,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yugyg.entity.YgfLongShortLink">
    update ygf_long_short_link
    <set>
      <if test="shortlink != null">
        shortLink = #{shortlink,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="urldesc != null">
        urlDesc = #{urldesc,jdbcType=VARCHAR},
      </if>
      <if test="longlink != null">
        longLink = #{longlink,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yugyg.entity.YgfLongShortLink">
    update ygf_long_short_link
    set shortLink = #{shortlink,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      urlDesc = #{urldesc,jdbcType=VARCHAR},
      longLink = #{longlink,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yugyg.entity.YgfLongShortLink">
    update ygf_long_short_link
    set shortLink = #{shortlink,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP},
      urlDesc = #{urldesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>