<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yugyg.mapper.YgfProvinceMapper">
  <resultMap id="BaseResultMap" type="com.yugyg.entity.YgfProvince">
    <id column="province_id" jdbcType="BIGINT" property="provinceId" />
    <result column="province_code" jdbcType="VARCHAR" property="provinceCode" />
    <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
  </resultMap>
  <sql id="Base_Column_List">
    province_id, province_code, province_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ygf_province
    where province_id = #{provinceId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ygf_province
    where province_id = #{provinceId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yugyg.entity.YgfProvince">
    insert into ygf_province (province_id, province_code, province_name
      )
    values (#{provinceId,jdbcType=BIGINT}, #{provinceCode,jdbcType=VARCHAR}, #{provinceName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yugyg.entity.YgfProvince">
    insert into ygf_province
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="provinceCode != null">
        province_code,
      </if>
      <if test="provinceName != null">
        province_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="provinceId != null">
        #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="provinceCode != null">
        #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null">
        #{provinceName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yugyg.entity.YgfProvince">
    update ygf_province
    <set>
      <if test="provinceCode != null">
        province_code = #{provinceCode,jdbcType=VARCHAR},
      </if>
      <if test="provinceName != null">
        province_name = #{provinceName,jdbcType=VARCHAR},
      </if>
    </set>
    where province_id = #{provinceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yugyg.entity.YgfProvince">
    update ygf_province
    set province_code = #{provinceCode,jdbcType=VARCHAR},
      province_name = #{provinceName,jdbcType=VARCHAR}
    where province_id = #{provinceId,jdbcType=BIGINT}
  </update>
</mapper>