<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.mapper.YgfLongShortLinkMapper">
  <resultMap id="BaseResultMap" type="com.sun.entity.YgfLongShortLink">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="longLink" jdbcType="VARCHAR" property="longlink" />
    <result column="shortLink" jdbcType="VARCHAR" property="shortlink" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <sql id="Base_Column_List">
    id, longLink, shortLink, time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ygf_long_short_link
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ygf_long_short_link
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sun.entity.YgfLongShortLink">
    insert into ygf_long_short_link (id, longLink, shortLink, 
      time)
    values (#{id,jdbcType=BIGINT}, #{longlink,jdbcType=VARCHAR}, #{shortlink,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.sun.entity.YgfLongShortLink">
    insert into ygf_long_short_link
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="longlink != null">
        longLink,
      </if>
      <if test="shortlink != null">
        shortLink,
      </if>
      <if test="time != null">
        time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="longlink != null">
        #{longlink,jdbcType=VARCHAR},
      </if>
      <if test="shortlink != null">
        #{shortlink,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sun.entity.YgfLongShortLink">
    update ygf_long_short_link
    <set>
      <if test="longlink != null">
        longLink = #{longlink,jdbcType=VARCHAR},
      </if>
      <if test="shortlink != null">
        shortLink = #{shortlink,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sun.entity.YgfLongShortLink">
    update ygf_long_short_link
    set longLink = #{longlink,jdbcType=VARCHAR},
      shortLink = #{shortlink,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>